<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="控制台 后台管理">
    <meta name="author" content="Chenjp">
    <!-- <link rel="icon" href="http://v3.bootcss.com/favicon.ico"> -->

    <title>Chenjp</title>
    
    <!-- Bootstrap core CSS -->
    <link href="http://v3.bootcss.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://v3.bootcss.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <?php $this->load->view('public/navbar.html'); ?>

    <div class="container-fluid">
      <div class="row">
      
        <?php $this->load->view('public/sidebar.html'); ?>


      
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          

          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              
              <thead>
                <tr>
                  <th>ID</th>
                  <th>用户名</th>
                  <th>申请提现（元）</th>
                  <th>支付宝</th>
                  <th>微信</th>
                  <th>备注</th>
                  <th>申请时间</th>
                  <th>处理时间</th>
                  <th>拒绝理由</th>
                  <th>操作</th>
                </tr>
              </thead>

              <tbody>
      
                <?php if ($data) : ?>
                  <?php foreach ($data as $row) : ?>
                  <tr>
                    <td><?php echo $row['id']; ?></td>
                    <td><?php echo $row['name']; ?></td>
                    <td><?php echo $row['money']; ?></td>
                    <td><?php echo $row['alipay']; ?></td>
                    <td><?php echo $row['wxpay']; ?></td>
                    <td><?php echo $row['remark']; ?></td>
                    <td><?php echo date('Y-m-d H:i:s',$row['add_time']); ?></td>
                    <td><?php echo !empty($row['end_time'])?date('Y-m-d H:i:s',$row['end_time']):''; ?></td>
                    <td><?php echo $row['reason']; ?></td>
                    <td>
                      <?php if ($row['status']==1) :?>
                        已提现
                      <?php elseif ($row['status']==2) :?>
                        已拒绝
                      <?php else: ?>
                        <a class="ok btn btn-success" data-href="<?php echo site_url('Index/cash_ok/'.$row['id']); ?>" href="JavaScript:;" role="button">完成</a>
                        <a class="no btn btn-danger" data-id="<?php echo $row['id']; ?>" data-href="<?php echo site_url('Index/cash_no'); ?>" href="JavaScript:;" role="button">拒绝</a>
                      <?php endif; ?>
                    </td>
                  </tr>
                  <?php endforeach; ?>
                <?php endif; ?>
                
              </tbody>
            
            </table>
          </div>

        </div>


      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://v3.bootcss.com/dist/js/bootstrap.min.js"></script>
    <!-- <script src="http://v3.bootcss.com/assets/js/docs.min.js"></script> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  
    <script>
      $(function(){
        $('.ok').click(function(){
          var url = $(this).attr('data-href');
          if ( confirm("确定完成提现？") ){    
            window.location.href = url;
          }
        });

        $('.no').click(function(){
          var url = $(this).data('href');
          var id = $(this).data('id');
          var reason = prompt("请输入拒绝提现理由");
          if (reason!=null && reason!=""){

            var data = {
              'id':id,
              'reason':reason
            };
            $.post(url, data, function(data){
              if (data.status) {
                window.location.href = "<?php echo site_url('Index/cash_apply'); ?>";
              } else {
                alert('呃，好像哪里出问题了o(╯□╰)o！');
              }
            }, "json");
          
          }
        });


      });
    </script>

  </body>
</html>
