<?php $this->load->view('public/header.html'); ?>

<!-- 以上为页头 -->

<script>
  $(function(){
    $.header_back( "<?php echo site_url('My'); ?>" );
  });
</script>

<!-- 页面主体 开始 -->
<div class="main">
  
  <div id="user_profile" class="">
  <form id="user_profile_form" action="<?php echo site_url('my/save_info');?>" method="post">
    
    <div class="card card_form">
    
      <div class="form_item form_item_plane">
        <div class="form_label">头像</div>
        <div class="form_item_con">
          <div class="avatar form_imgupload" <?php if(!empty($_SESSION['user']['avatar'])): ?> style="background-image:url(<?php echo $_SESSION['user']['avatar'];?>);"<?php endif; ?>></div>
          <!-- <input type="hidden" name="user_profile_avatar" value=""> -->
        </div>
      </div>
    
      <label class="form_item form_item_plane">
        <div class="form_label">账号</div>
        <div class="form_item_con">
          <input type="text" class="form_input" name="user_profile_nickname" placeholder="要有个响亮的名字" value="<?php echo $_SESSION['user']['name'];?>" maxlength="80">
        </div>
      </label>
      
     <!--  <div class="form_item form_item_plane">
        <div class="form_label">性别</div>
        <div class="form_item_con">
          <label class="form_check"><input type="radio" name="user_profile_sex" value="2" <?php if($_SESSION['user']['sex'] == 1) echo "checked='checked'";?>><span>男</span></label>
          <label class="form_check"><input type="radio" name="user_profile_sex" value="1" <?php if($_SESSION['user']['sex'] == 0) echo "checked='checked'";?>><span>女</span></label>
        </div>
      </div> -->

      <!-- <label class="form_item form_item_plane">
        <div class="form_label">出生日期</div>
        <div class="form_item_con">
          <input type="text" class="form_input" name="user_profile_birthdate" data-field="date" data-format="yyyy-MM-dd" readonly placeholder="请选择" value="<?php echo $_SESSION['user']['birthday'];?>">
        </div>
      </label> -->
    </div>
    
   
   
    <!--底部按钮 开始-->
    <!-- <div id="club_index_manage_bottombar" class="bottombar">
      <div class="bottombar_box">
      	 <button type="submit" id="btn_submit_user_profile" class="bottombar_btn btn btn_color_1">保存</button>
      </div>
    </div> -->
    <!--底部按钮 结束-->

    </form>
  </div>
</div>
<!-- 页面主体 结束 -->


<!-- 以下为页脚 -->
<?php $this->load->view('public/footer.html'); ?>

</body>
</html>
