<?php $this->load->view('public/header.html'); ?>

<!-- 以上为页头 -->

<script>
  $(function(){
    $.header_back( "<?php echo site_url('My'); ?>" );
  });
</script>

<!-- 页面主体 开始 -->
<div class="main">
  
  <div id="user_profile" class="">
  <form id="user_profile_form" action="<?php echo site_url('my/save_info');?>" method="post">
    
    <div class="card card_form">
    
      <div class="form_item form_item_plane">
        <div class="form_label">头像</div>
        <div class="form_item_con">
          <div class="avatar form_imgupload" <?php if(!empty($_SESSION['user']['avatar'])): ?> style="background-image:url(<?php echo $_SESSION['user']['avatar'];?>);"<?php endif; ?>></div>
          <input type="hidden" name="user_profile_avatar" value="">
        </div>
      </div>
    
      <label class="form_item form_item_plane">
        <div class="form_label">昵称</div>
        <div class="form_item_con">
          <input type="text" class="form_input" name="user_profile_nickname" placeholder="要有个响亮的名字" value="<?php echo $_SESSION['user']['nickname'];?>" maxlength="80">
        </div>
      </label>
      
      <div class="form_item form_item_plane">
        <div class="form_label">性别</div>
        <div class="form_item_con">
          <label class="form_check"><input type="radio" name="user_profile_sex" value="2" <?php if($_SESSION['user']['sex'] == 2) echo "checked='checked'";?>><span>男</span></label>
          <label class="form_check"><input type="radio" name="user_profile_sex" value="1" <?php if($_SESSION['user']['sex'] == 1) echo "checked='checked'";?>><span>女</span></label>
        </div>
      </div>

      <label class="form_item form_item_plane">
        <div class="form_label">出生日期</div>
        <div class="form_item_con">
          <input type="text" class="form_input" name="user_profile_birthdate" data-field="date" data-format="yyyy-MM-dd" readonly placeholder="请选择" value="<?php echo $_SESSION['user']['birthday'];?>">
        </div>
      </label>
    </div>
    
    <div class="main_title">
      <span>真实信息</span>
    </div>
    
    <div class="card card_form">
    
      <div class="form_item form_item_tips form_item_plane">
        <div class="form_label null">提示</div>
        <div class="form_item_con">
          <div class="form_static">如创建俱乐部或发起活动，请如实填写。<br>
          保护隐私，不会泄露。<hr><small>因资料填写有误，若造成后果须自行负责。</small></div>
        </div>
      </div>
      
      <div id="btn_user_profile_trueinfo_box_show" class="card_more"><span class="btn_color_2">点击展开 开始填写</span></div>

      <div id="user_profile_trueinfo_box">
        <label class="form_item form_item_plane">
          <div class="form_label">真实姓名</div>
          <div class="form_item_con">
            <input type="text" class="form_input" name="user_profile_name" placeholder="请务必真实填写" value="<?php echo $_SESSION['user']['realname'];?>" maxlength="20">
          </div>
        </label>
        
        <label class="form_item form_item_plane">
          <div class="form_label">有效证件</div>
          <div class="form_item_con">
            <div class="form_select">
              <select name="user_profile_idcard_type" class="form_input appearance_none">
              <option value="0" <?php if($_SESSION['user']['cert_type'] == 0) echo "selected";?> >二代身份证</option>
              <option value="1" <?php if($_SESSION['user']['cert_type'] == 1) echo "selected";?> >台胞证（台湾居民来往大陆通行证）</option>
              <option value="2" <?php if($_SESSION['user']['cert_type'] == 2) echo "selected";?> >港澳居民来往内地通行证</option>
              <option value="3" <?php if($_SESSION['user']['cert_type'] == 3) echo "selected";?> >护照</option>
              </select>
            </div>
          </div>
        </label>
        
        <label class="form_item form_item_plane">
          <div class="form_label">证件号码</div>
          <div class="form_item_con">
            <input type="text" class="form_input" name="user_profile_idcard" placeholder="18位，末位非数字请填X" value="<?php echo $_SESSION['user']['cert_num'];?>" maxlength="18">
          </div>
          <!--
          18位身份证号，末位非数字请填X, 18
          请输入8位数字台胞证号, 8
          请输入9位数字通行证号, 9
          请输入护照号码, 20
          -->
        </label>
        
        <label class="form_item form_item_plane">
          <div class="form_label">手机号</div>
          <div class="form_item_con">
            <input type="text" class="form_input" name="user_profile_phone" placeholder="请输入有效手机号，11位" value="<?php echo $_SESSION['user']['phone'];?>" maxlength="11">
          </div>
        </label>

        <div class="form_item form_item_plane ">
          <div class="form_label">所在地区</div>
          <div class="form_item_con select_zone" id="user_profile_place">
            <div class="form_input dropdown"> <span class="province"></span> <span class="city"></span> <span class="area"></span> </div>
            <div class="dropdown_menu" id="" style="display: none;">
              <div class="form_select">
                <select class="form_input" name="user_profile_province" id="province">
                </select>
              </div>
              <div class="form_select">
                <select class="form_input" name="user_profile_city" id="city">
                </select>
              </div>
              <div class="form_select">
                <select class="form_input" name="user_profile_area" id="area">
                </select>
              </div>
            </div>
          </div>
        </div>
        <label class="form_item form_item_plane">
          <div class="form_label">详细地址</div>
          <div class="form_item_con">
            <input type="text" class="form_input" name="user_profile_address" placeholder="街道及门号（选填）" value="<?php echo $_SESSION['user']['address'];?>">
          </div>
        </label>
      </div>


    </div>
    <div class="main_title">
      <span>个性内容</span>
    </div>
    <div class="card card_form">
    	<div class="form_item form_item_tips form_item_plane">
        <div class="form_label null">提示</div>
        <div class="form_item_con">
          <div class="form_static">以下仅作个性展示，选填</div>
        </div>
      </div>
      <label class="form_item form_item_plane">
      	<div class="form_label">职业</div>
        <div class="form_item_con">
          <input type="text" class="form_input" name="user_profile_job" placeholder="" value="<?php echo $_SESSION['user']['job'];?>" maxlength="">
        </div>
      </label>
      <label class="form_item form_item_plane">
        <div class="form_label">体重</div>
        <div class="form_item_con">
          <input type="text" class="form_input has_unit" name="user_profile_weight" placeholder="数字" value="<?php if($_SESSION['user']['weight'] != 0) echo $_SESSION['user']['weight'];?>" maxlength="10">
          <div class="form_unit">公斤</div>
        </div>
      </label>
      <label class="form_item form_item_plane">
        <div class="form_label">身高</div>
        <div class="form_item_con">
          <input type="text" class="form_input has_unit" name="user_profile_height" placeholder="数字" value="<?php if($_SESSION['user']['height'] != 0) echo $_SESSION['user']['height'];?>" maxlength="10">
          <div class="form_unit">厘米</div>
        </div>
      </label>
      <div class="form_item form_item_plane">
        <div class="form_label">兴趣</div>
        <div class="form_item_con">
          <input type="hidden" name="sports_items" class="form_input" value="<?php echo $_SESSION['user']['projects'];?>" /> 
          <!-- <input type="hidden" name="sports_items" class="form_input" value="爬山,骑行" /> -->
          <!-- <input type="hidden" name="sports_items" class="form_input" value="" /> -->
          <div id="sports_items_box" class="selecttag_box">
            <div class="curr_sports_items selecttag_curr"><div class="curr_list"></div><a class="btn btn_selecttag_add"><i class="material-icons">&#xe146;</i></a></div>
            
          </div>
        </div>
      </div>
      <label class="form_item form_item_plane">
        <div class="form_label">个性签名</div>
        <div class="form_item_con">
          <textarea class="form_input" name="user_profile_sign" placeholder="不超过250个(汉字)" maxlength="250"><?php echo $_SESSION['user']['signs'];?></textarea>
        </div>
      </label>

    </div>
    <!--底部按钮 开始-->
    <div id="club_index_manage_bottombar" class="bottombar">
      <div class="bottombar_box">
      	 <button type="submit" id="btn_submit_user_profile" class="bottombar_btn btn btn_color_1">保存</button>
   
      </div>
    </div>
    <!--底部按钮 结束-->

    </form>
  </div>
</div>
<!-- 页面主体 结束 -->

<div id="datetimepicker"></div>





<?php $this->load->view('public/choose_project.html'); ?>


<!-- 上传图片 开始 -->
<?php $this->load->view('public/upload_img.html'); ?>
<!-- 上传图片 结束 -->














<link rel="stylesheet" href="<?php echo base_url();?>static/index/club/js/datetimepicker/DateTimePicker.css" />
<script src="<?php echo base_url();?>static/index/club/js/datetimepicker/DateTimePicker.js"></script>
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>static/index/club/js/datetimepicker/DateTimePicker-ltie9.css" />
<script type="text/javascript" src="<?php echo base_url();?>static/index/club/js/datetimepicker/DateTimePicker-ltie9.js"></script>
<![endif]-->
<!-- For i18n Support -->
<script src="<?php echo base_url();?>static/index/club/js/datetimepicker/i18n/DatetimePicker-i18n-zh-CN.js"></script>


<script src="<?php echo base_url();?>static/index/club/js/geo.js"></script>

<script src="<?php echo base_url();?>static/index/club/js/exif.js"></script>
<script src="<?php echo base_url();?>static/index/club/js/getimgdata.js"></script>
<script src="<?php echo base_url();?>static/index/club/js/jcrop/js/jquery.Jcrop.js"></script>

<link rel="stylesheet" href="<?php echo base_url();?>static/index/club/js/jcrop/css/jquery.Jcrop.css">

<script>
$(function(){

  //默认折叠真实信息
  if( $("[name=user_profile_idcard]").val() ) {
    $("body").addClass("user_profile_trueinfo_box_show");
  }
  $( "#btn_user_profile_trueinfo_box_show" ).on("click", function(){
    $("body").addClass("user_profile_trueinfo_box_show");
  });


  //输入身份证号自动填写生日与性别
  $( "[name=user_profile_idcard]" ).on("keydown change", function(){
    if ( $("[name=user_profile_idcard_type]").val() == 0 ) {
      if ( isValidityIdCard( $(this).val() ) ) {
        var tmp_idcardinfo = infoByIdCard( $(this).val() );
        
        $("[name=user_profile_birthdate]").val( tmp_idcardinfo["year"] + "-" + ((tmp_idcardinfo["month"] >= 10)?tmp_idcardinfo["month"]:("0" + tmp_idcardinfo["month"])) + "-" + ((tmp_idcardinfo["day"] >= 10)?tmp_idcardinfo["day"]:("0" + tmp_idcardinfo["day"])) );
        
        if ( tmp_idcardinfo["sex"] == 2 ) {
          $("[name=user_profile_sex][value=2]").prop("checked",true);
        } else {
          $("[name=user_profile_sex][value=1]").prop("checked",true);
        }
      }
    }
  });


  //证件号码
  var idcard_type_tip = [
    {
      "placeholder": "18位，末位非数字请填X",
      "maxlength": 18
    },
    {
      "placeholder": "请输入8位数字台胞证号",
      "maxlength": 8
    },
    {
      "placeholder": "请输入9位数字通行证号",
      "maxlength": 9
    },
    {
      "placeholder": "请输入护照号码",
      "maxlength": 20
    },
  ];
  $( "[name=user_profile_idcard_type]" ).on("change", function(){
    idcard_type = Math.floor($(this).val());
    if( idcard_type >= 0 && idcard_type <= 3 ) {
      $( "[name=user_profile_idcard]" ).attr({ 
        "placeholder": idcard_type_tip[ idcard_type ].placeholder, 
        "maxlength": idcard_type_tip[ idcard_type ].maxlength 
        });
    }
  });

  // 初始化证件号码html信息
  var idcard_type = "0";
  $( "[name=user_profile_idcard]" ).attr({
        "placeholder": idcard_type_tip[ idcard_type ].placeholder, 
        "maxlength": idcard_type_tip[ idcard_type ].maxlength 
        });



  //运动
  var origi_sports_items = [ "骑行", "徒步", "爬山", "其他" ];
  var curr_sports_items = $("[name=sports_items]").val().split(",");
  //var bbb;
  
  var selectTag_sports_items = {
    tag_input: "[name=sports_items]",
    origi_box: ".origi_sports_items",
    curr_box: ".curr_sports_items .curr_list",
    arr_origi: origi_sports_items,
    arr_curr: curr_sports_items,
    origi_item: "<a class=\"item_one [[active]]\" data-text=\"[[tag]]\">[[tag]]</a>",
    curr_item: "<a class=\"item_one\" data-text=\"[[tag]]\">[[tag]]</a>",
    origi_update_fn: function (){},
    curr_update_fn: function (){}
  }
  
  
  $.fn.selectTag( selectTag_sports_items, "update" );

  $("#sports_items_box").on("click", function(){
    $.fn.hasShadow();
    $(".subplate_selecttag").show();
  });
  
  $(".subplate_selecttag").on("click", ".bottombar_btn_cancel", function(){
    $.fn.hasShadow("hide");
    $(".subplate_selecttag").hide();
  });
  
        
        



  //地址三级联动 感谢腾讯
  setup();
  // preselect("黑龙江省");//省
  // cityselect("七台河市");//市
  // townselect("茄子河区");//区 
  preselect("<?php echo $_SESSION['user']['province'];?>");//省
  cityselect("<?php echo $_SESSION['user']['city'];?>");//市
  townselect("<?php echo $_SESSION['user']['district'];?>");//区
  province_textshow();

  $( "#province, #city, #area" ).on( "change", function(){
    province_textshow();
  });

  function province_textshow() {
    var tmp_province = ( $("#province").val() != "省份" )?$("#province").val():"--";
    var tmp_city = ( $("#city").val() != "地级市" )?$("#city").val():"";
    var tmp_area = ( $("#area").val() != "市、县级市、县" )?$("#area").val():"";

    $( "#user_profile_place .province" ).html( tmp_province );
    $( "#user_profile_place .city" ).html( tmp_city );
    $( "#user_profile_place .area" ).html( tmp_area );
  }

  //日期时间
  $(document).ready(function() {
    $("#datetimepicker").DateTimePicker( {
    
    language: "zh-CN",
    dateFormat: "yyyy-MM-dd",
    labels: null

    });
  });


  //上传图片
  $(".form_imgupload").cropimgupload({
    "file_data": "[name=user_profile_avatar]",
    aspect_ratio: 1,
    btnOKClick: function(){
      $( ".form_imgupload" ).css( "background-image", "url("+ $("#imgupload_file_data").val() +")" );
    }
  });

  



  //必填项
  $("#user_profile_form").submit( function() {

  //昵称
    if( !$("[name=user_profile_nickname]").val() ) {

      $.fn.poptips({
        con: "没有「<strong>昵称</strong>」？！<br>出来玩的，怎么能没有一个名号？！",
        btnOKClick: function (){
          $("[name=user_profile_nickname]").focus();
        }
      });

      $("[name=user_profile_nickname]").checktips({
        parent: $("[name=user_profile_nickname]").closest(".form_item"),
        tips: "请输入昵称！"
      });
      
      return false;
    } else {
      $("[name=user_profile_nickname]").checktips({
        parent: $("[name=user_profile_nickname]").closest(".form_item"),
        act: "hide"
      });
    }
    
  //性别 必填？
    if ( !$("[name=user_profile_sex]:checked").val() ) {
      $.fn.poptips({
        con: "请输入您的性别「<strong>性别</strong>」",
        btnOKClick: function (){
          $("[name=user_profile_sex]").focus();
        }
      });
      $("[name=user_profile_sex]").checktips({
        parent: $("[name=user_profile_sex]").closest(".form_item"),
        tips: "请输入您的性别「<strong>性别</strong>」"
      });
      
      return false;
    } else {
      $("[name=user_profile_sex]").checktips({
        parent: $("[name=user_profile_sex]").closest(".form_item"),
        act: "hide"
      });
    }
    

  //证件号码 非必填
    if( $("[name=user_profile_idcard]").val() ) {
      if ( $("[name=user_profile_idcard_type]").val() == 0 ) {
        if ( !isValidityIdCard( $("[name=user_profile_idcard]").val() ) ) {
          $.fn.poptips({
            con: "请检查「<strong>证件号码</strong>」！",
            btnOKClick: function (){
              $("[name=user_profile_idcard]").focus();
            }
          });
          $("[name=user_profile_idcard]").checktips({
            parent: $("[name=user_profile_idcard]").closest(".form_item"),
            tips: "请检查「<strong>证件号码</strong>」！<br>务必真实有效。"
          });
          
          return false;
        } else {
          $("[name=user_profile_idcard]").checktips({
            parent: $("[name=user_profile_idcard]").closest(".form_item"),
            act: "hide"
          });
        }
      } else if ( $("[name=user_profile_idcard_type]").val() == 1 ) {
        if ( !$("[name=user_profile_idcard]").val().match(/^[0-9]{8}$/) ) {
          $.fn.poptips({
            con: "请检查「<strong>证件号码</strong>」！",
            btnOKClick: function (){
              $("[name=user_profile_idcard]").focus();
            }
          });
          $("[name=user_profile_idcard]").checktips({
            parent: $("[name=user_profile_idcard]").closest(".form_item"),
            tips: "请检查「<strong>证件号码</strong>」！<br>务必真实有效。<hr>不含字母，8位数字终身号。"
          });
          
          return false;
        } else {
          $("[name=user_profile_idcard]").checktips({
            parent: $("[name=user_profile_idcard]").closest(".form_item"),
            act: "hide"
          });
        }
      } else if ( $("[name=user_profile_idcard_type]").val() == 2 ) {
        if ( !$("[name=user_profile_idcard]").val().match(/^[a-zA-Z]([0-9]{8})$/) ) {
          $.fn.poptips({
            con: "请检查「<strong>证件号码</strong>」！",
            btnOKClick: function (){
              $("[name=user_profile_idcard]").focus();
            }
          });
          $("[name=user_profile_idcard]").checktips({
            parent: $("[name=user_profile_idcard]").closest(".form_item"),
            tips: "请检查「<strong>证件号码</strong>」！<br>务必真实有效。<hr>字母打头，紧随8位数字终身号。"
          });
          
          return false;
        } else {
          $("[name=user_profile_idcard]").checktips({
            parent: $("[name=user_profile_idcard]").closest(".form_item"),
            act: "hide"
          });
        }
      }
    }

  //手机号码 非必填？
    if ( $("[name=user_profile_phone]").val() ) {
      if ( !$("[name=user_profile_phone]").val().match(/^[0-9]{11}$/) ) {
        $.fn.poptips({
          con: "「<strong>手机号</strong>」填写有误！",
          btnOKClick: function (){
            $("[name=user_profile_phone]").focus();
          }
        });
        $("[name=user_profile_phone]").checktips({
          parent: $("[name=user_profile_phone]").closest(".form_item"),
          tips: "请务必填写真实有效的11位「<strong>手机号</strong>」！"
        });
        
        return false;
      } else {
        $("[name=user_profile_phone]").checktips({
          parent: $("[name=user_profile_phone]").closest(".form_item"),
          act: "hide"
        });
      }
    }







//alert( "提交表单" );
//如ajax提交避免跳转页面
//return false;

  });

});
</script>






<!-- 以下为页脚 -->

<?php $this->load->view('public/footer.html'); ?>

</body>
</html>
