<?php $this->load->view('public/header.html'); ?>

<!-- 以上为页头 -->

<div id="header_current">
  <div id="header_leftarea_current">
  </div>
  <div class="header_rightarea">
    <a class="btn" href="<?php echo site_url('My'); ?>"><i class="material-icons">&#xe88a;</i></a>
  </div>
</div>
<script>
$(function(){
  $("#header .header_rightarea").replaceWith( $("#header_current .header_rightarea") );
  $.header_back( "<?php echo site_url('My'); ?>" );
});
</script>

<!-- 页面主体 开始 -->
<div id="wallet_record_main" class="main">

  <div class="card card_order_list">
  
    <div class="list">
<!-- 
      <a class="item" href="./order.html?id=12">
        <div class="title">某某某活动</div>
        <div class="time">32533324</div>
        <div class="money">25元</div>
      </a>
-->
    </div>
    
    <div class="card_more"><span>点击载入更多</span></div>
    
  </div>

</div>
<!-- 页面主体 结束 -->



<script>
$(function(){

  
  //载入我的钱包明细数据
  $("#wallet_record_main").on("click", ".card_more", function(){

    var $tmp_this_card_more = $(this);

    var tmp_wallet_record_page = $(this).data("page")?$(this).data("page"):0;

    $.ajax({

      type: "POST",
      datatype: "json",
      // url: "<?php echo base_url('static/index'); ?>/demo/json/wallet_record.json",
      url: "<?php echo site_url('Wallet/get_json_user_wallet_record'); ?>",
      data: "page=" + tmp_wallet_record_page,
      beforeSend: function(){
        $tmp_this_card_more.html( "正在载入…" );
      },
      success: function(data){
        if( typeof data != "object" ) {
          data = $.parseJSON(data);
        }
        if( data.state == 1 ) {
          var tmp_html = "";
          
          //没有更多内容了
          if( data.wallet_record.length == 0 ) {
            $tmp_this_card_more.html( "没有更多内容了" );
            return false;
          }
          
          for(var i = 0; i < data.wallet_record.length; i++) {
            var tmp_wallet_record_state = tmp_wallet_record_state_text = tmp_wallet_record_isplus = "";
            
            // 0 = 进行中/审核中 | 1 = 成功 | 2 = 失败
            if( data.wallet_record[i].state == 2 ) {
              tmp_wallet_record_state_text = "<em class=\"sorry\">失败</em>";
              tmp_wallet_record_state = "sorry";
            } else if( data.wallet_record[i].state == 0 ) {
              tmp_wallet_record_state_text = "<em>进行中...</em>";
              tmp_wallet_record_state = "";
            } else {
              tmp_wallet_record_state_text = "";
              tmp_wallet_record_state = "";
            }
            
            // 0 = 无加减状态（其他） | 1 = 加（活动收款） | 2 = 减（提现/报名）
            if( data.wallet_record[i].isplus == 1 ) {
              tmp_wallet_record_isplus = "plus";
            } else if( data.wallet_record[i].isplus == 2 ) {
              tmp_wallet_record_isplus = "minus";
            } else {
              tmp_wallet_record_isplus = "";
            }
            
            
            tmp_html += "<a class=\"item " + tmp_wallet_record_isplus + " " + tmp_wallet_record_state + "\"><div class=\"title\">" + data.wallet_record[i].title + "</div><div class=\"time\">" + data.wallet_record[i].time + "</div><div class=\"money\">" + data.wallet_record[i].money + "<small>元</small>" + tmp_wallet_record_state_text + "</div>";
            
            if( data.wallet_record[i].text ) {
              tmp_html += "<div class=\"extra\">" + data.wallet_record[i].text + "</div>";
            }
            
            tmp_html += "</a>";
            
            
          }
          $(tmp_html).hide().appendTo( "#wallet_record_main .list" ).fadeIn(function(){
          
          });
          
          //页数累加
          tmp_wallet_record_page++;
          $tmp_this_card_more.data( "page", tmp_wallet_record_page );
          
          lazy();
          $tmp_this_card_more.html( "<span>点击载入更多</span>" );
        }
        //载入失败
        if( data.state == 0 ) {
          $tmp_this_card_more.html( "<span>载入失败，点击重试</span>" );
          $.fn.winktips("载入失败 ( >﹏<。)");
        }
        return false;
        
        
      },
      error: function(){
        $tmp_this_card_more.html( "<span>载入失败，点击重试</span>" );
        $.fn.winktips("载入失败 （/TДT)/");
      }

    });
    
  });
  
  $("#wallet_record_main .card_more").click();

});
</script>




<!-- 以下为页脚 -->

<?php $this->load->view('public/footer.html'); ?>

</body>
</html>
