<!DOCTYPE html>
<html style="font-size: 32px;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta name="data-spm" content="1002"> 
<title>cshop</title>  
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> 
<meta name="format-detection" content="telephone=no"> 
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 

<script src="<?php echo base_url('static/index/goods_list/js/init.js'); ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo base_url('static/index/goods_list/css/main.css'); ?>"> 
<link rel="stylesheet" type="text/css" href="<?php echo base_url('static/index/goods_list/css/fixed_bar.css'); ?>">
</head>

<body data-spm="7777454" style="padding-top: 77px;">

<div class="loading" id="J_loading" style="display: none;"></div> 

<div class="container" id="J_container" data-spm="1"> 
<div id="J_banner">
  <div class="superfan-banner">
      <!-- <div class="banner">
        <img class="banner-item" alt="" src="<?php echo base_url('static/index/goods_list/img/1.png'); ?>">
        <div class="banner-mask"></div>
        <div class="banner-content">
            <div class="brand-logo">
                  <img src="<?php echo base_url('static/index/goods_list/img/2.png'); ?>">
            </div>
            <div class="brand-name">诗米克店庆周，我3岁啦</div>
            <div class="brand-rebate">
              <span class="txt">全场最高返63%</span>
            </div>
        </div>
      </div> -->


      <!-- <div class="countdown_box">
        <span class="etao-icon countdown-icon"></span><p class="count-down-descrip">距离结束还有</p><div class="countdown_timer countdown_timer0" data-remaintime="607080338" id="J_banner_countDown"><span class="days">7天</span><span class="hours time_container">00</span><span class="time-separator">:</span><span class="minutes time_container">37</span><span class="time-separator">:</span><span class="seconds time_container">50</span><span class="time-separator">:</span><span class="milliseconds time_container">2</span></div>
      </div> -->
  </div>
</div> 

<ul id="J_list" class="item-list">

  <?php foreach ($goods_list as $row) : ?>
  <li class="item">
      <a class="box" target="_blank" href="<?php echo prep_url($row['url']); ?>">
          <div class="img pr">
              <img src="<?php echo base_url($row['img']); ?>">
              <div class="brand-tag tag-dijia"></div>
          </div>
          <h3 class="title">
            <?php echo $row['name']; ?>
          </h3>
          <div class="info">
            <span class="activity-price">¥<?php echo $row['price']; ?></span>
            <!-- <span class="discount-fan">再返40.95</span> -->
          </div>
          <!-- <div class="info">
            <span class="original-price">165</span>
          </div> -->
      </a>
  </li>
  <?php endforeach; ?>



</ul> 

<div id="J_list_loading" class="more-list-loading split-line" style="display: none;"> <div class="line left-line"></div> <div class="txt">加载中</div> <div class="line right-line"></div> </div> <div id="J_list_endLoading" class="end-loading-wrap"> 

<!-- <div class="brand-feature"></div>  -->

<?php if (empty($goods_list)) : ?>
<div class="no-more-list split-line"> 
  <div class="line left-line"></div> 
  <div class="txt">没有更多啦</div> 
  <div class="line right-line"></div> 
</div> 
<?php endif; ?>


</div> 
</div> 


<div class="dialog hide pos-middle dlg-animate msg-dialog">
	<div class="dlg-container">
		
		<div class="btn-close">
			<div class="btn-close-img"></div>
		</div>
		

		

		<div class="dlg-body"></div>

		
	</div>
</div><div class="dlg-mask"></div><div class="dialog hide pos-middle sold-out-dialog">
	<div class="dlg-container">
		

		

		<div class="dlg-body"><div>亲，商品太火爆已经卖光了！</div><div>逛逛其他商品吧</div></div>

		
		<div class="dlg-footer">
			
			<div class=" btn btn-ok">我知道了</div>
			
			
		</div>
		
	</div>
</div>


<?php $this->load->view('public/fixed_bar.html'); ?>  

<div id="etao-sidebar-scrolltop"></div>
</body>
</html>