<!DOCTYPE html>
<html style="font-size: 32px;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta name="data-spm" content="1002"> 
<title>诗米克店庆周，我3岁啦</title>  
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> 
<meta name="format-detection" content="telephone=no"> 
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 

<script src="<?php echo base_url('static/index/goods_list/js/init.js'); ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo base_url('static/index/goods_list/css/main.css'); ?>"> 
<link rel="stylesheet" type="text/css" href="<?php echo base_url('static/index/goods_list/css/fixed_bar.css'); ?>">
</head>

<body data-spm="7777454" style="padding-top: 77px;">

<div class="loading" id="J_loading" style="display: none;"></div> <div class="container" id="J_container" data-spm="1"> <div id="J_banner"><div class="superfan-banner">
    <div class="banner">
      <img class="banner-item" alt="" src="<?php echo base_url('static/index/goods_list/img/1.png'); ?>">
      <div class="banner-mask"></div>
      <div class="banner-content">
          <div class="brand-logo">
                <img src="<?php echo base_url('static/index/goods_list/img/2.png'); ?>">
          </div>
          <div class="brand-name">诗米克店庆周，我3岁啦</div>
          <div class="brand-rebate">
            <span class="txt">全场最高返63%</span>
          </div>
      </div>
    </div>
    <!-- <div class="countdown_box">
      <span class="etao-icon countdown-icon"></span><p class="count-down-descrip">距离结束还有</p><div class="countdown_timer countdown_timer0" data-remaintime="607080338" id="J_banner_countDown"><span class="days">7天</span><span class="hours time_container">00</span><span class="time-separator">:</span><span class="minutes time_container">37</span><span class="time-separator">:</span><span class="seconds time_container">50</span><span class="time-separator">:</span><span class="milliseconds time_container">2</span></div>
    </div> -->
</div>
</div> 

<!-- <div id="J_coupon">
<div class="superfan-coupon">
    <div class="coupon-container">
        <p class="coupon-title">领取店铺优惠券，券后再返更实惠！</p>
        <div id="J_couponList" class="list-small">
          <div class="coupon-list">
              
              <span class="etao-coupon etao-mtemplate-coupon1" data-sellerid="1855548838" data-uuid="6c5bd6b2e26843d9b425be6e11da6e53">
                  <div class="coupon-item coupon-left">
                		<div class="coupon-img"></div>
                	</div>
                	<div class="coupon-item coupon-right">
                		<div class="coupon-txt">满139减10</div>
                		<div class="txt">立即领取&gt;</div>
                	</div>
              </span>
              
              <span class="etao-coupon etao-mtemplate-coupon1" data-sellerid="1855548838" data-uuid="258f79073aaf48038c553cbf5704277b">
                  <div class="coupon-item coupon-left">
                		<div class="coupon-img"></div>
                	</div>
                	<div class="coupon-item coupon-right">
                		<div class="coupon-txt">满299减50</div>
                		<div class="txt">立即领取&gt;</div>
                	</div>
              </span>
              
              <span class="etao-coupon etao-mtemplate-coupon1" data-sellerid="1855548838" data-uuid="1f8e704eb90d4174aff5eb6f2ddce253">
                  <div class="coupon-item coupon-left">
                		<div class="coupon-img"></div>
                	</div>
                	<div class="coupon-item coupon-right">
                		<div class="coupon-txt">满499减100</div>
                		<div class="txt">立即领取&gt;</div>
                	</div>
              </span>
              
              <span class="etao-coupon etao-mtemplate-coupon1" data-sellerid="1855548838" data-uuid="374d3482829e415abd4a5d48975e52ef">
                  <div class="coupon-item coupon-left">
                		<div class="coupon-img"></div>
                	</div>
                	<div class="coupon-item coupon-right">
                		<div class="coupon-txt">满139减10</div>
                		<div class="txt">立即领取&gt;</div>
                	</div>
              </span>
              
              <span class="etao-coupon etao-mtemplate-coupon1" data-sellerid="1855548838" data-uuid="63a40c5243634d0e896c237640f6d70c">
                  <div class="coupon-item coupon-left">
                		<div class="coupon-img"></div>
                	</div>
                	<div class="coupon-item coupon-right">
                		<div class="coupon-txt">满299减50</div>
                		<div class="txt">立即领取&gt;</div>
                	</div>
              </span>
              
              <span class="etao-coupon etao-mtemplate-coupon1" data-sellerid="1855548838" data-uuid="2356c3f8de5d4b5dbbcb6be91acc04dd">
                  <div class="coupon-item coupon-left">
                		<div class="coupon-img"></div>
                	</div>
                	<div class="coupon-item coupon-right">
                		<div class="coupon-txt">满499减100</div>
                		<div class="txt">立即领取&gt;</div>
                	</div>
              </span>
              
          </div>
        </div>
        <div class="fold-icon-wrapper"><i class="etao-icon" id="J_couponFold" style="display: inline;"></i></div>
    </div>
</div>
</div>  -->

<ul id="J_list" class="item-list">




<li class="item">
    <a class="box " href="http://awp.m.etao.com/h5/m-super/detail.html?id=539048844709&amp;item_id=539048844709">
        <div class="img pr">
            <img src="<?php echo base_url('static/index/goods_list/img/4.png'); ?>">
            <div class="brand-tag tag-dijia"></div>
            
        </div>
        <h3 class="title">女宝宝加厚T恤保暖上衣婴儿1-2-3-4岁加绒小女童长袖加绒打底衫冬</h3>
        <div class="info">
            <span class="activity-price">¥65</span>
            <span class="discount-fan">再返40.95</span>
        </div>
        <div class="info">
          <span class="original-price">165</span>
          
              
          
        </div>
    </a>
</li>

<li class="item">
    <a class="box " href="http://awp.m.etao.com/h5/m-super/detail.html?id=537183801831&amp;item_id=537183801831">
        <div class="img pr">
            <img src="<?php echo base_url('static/index/goods_list/img/3.png'); ?>">
            <div class="brand-tag tag-dijia"></div>
            
        </div>
        <h3 class="title">婴儿衣服女童秋衣上衣秋季体恤长袖纯棉秋装2016新款女宝宝打底衫</h3>
        <div class="info">
            <span class="activity-price">¥49</span>
            <span class="discount-fan">再返30.87</span>
        </div>
        <div class="info">
          <span class="original-price">119</span>
          
              
          
        </div>
    </a>
</li>

<li class="item">
    <a class="box " href="http://awp.m.etao.com/h5/m-super/detail.html?id=537183801831&amp;item_id=537183801831">
        <div class="img pr">
            <img src="<?php echo base_url('static/index/goods_list/img/3.png'); ?>">
            <div class="brand-tag tag-dijia"></div>
            
        </div>
        <h3 class="title">婴儿衣服女童秋衣上衣秋季体恤长袖纯棉秋装2016新款女宝宝打底衫</h3>
        <div class="info">
            <span class="activity-price">¥49</span>
            <span class="discount-fan">再返30.87</span>
        </div>
        <div class="info">
          <span class="original-price">119</span>
          
              
          
        </div>
    </a>
</li>

<li class="item">
    <a class="box " href="http://awp.m.etao.com/h5/m-super/detail.html?id=537183801831&amp;item_id=537183801831">
        <div class="img pr">
            <img src="<?php echo base_url('static/index/goods_list/img/3.png'); ?>">
            <div class="brand-tag tag-dijia"></div>
            
        </div>
        <h3 class="title">婴儿衣服女童秋衣上衣秋季体恤长袖纯棉秋装2016新款女宝宝打底衫</h3>
        <div class="info">
            <span class="activity-price">¥49</span>
            <span class="discount-fan">再返30.87</span>
        </div>
        <div class="info">
          <span class="original-price">119</span>
          
              
          
        </div>
    </a>
</li>






</ul> <div id="J_list_loading" class="more-list-loading split-line" style="display: none;"> <div class="line left-line"></div> <div class="txt">加载中</div> <div class="line right-line"></div> </div> <div id="J_list_endLoading" class="end-loading-wrap"> 

<!-- <div class="brand-feature"></div>  -->

<div class="no-more-list split-line"> <div class="line left-line"></div> <div class="txt">没有更多啦</div> <div class="line right-line"></div> </div> </div> </div> 


<div class="dialog hide pos-middle dlg-animate msg-dialog">
	<div class="dlg-container">
		
		<div class="btn-close">
			<div class="btn-close-img"></div>
		</div>
		

		

		<div class="dlg-body"></div>

		
	</div>
</div><div class="dlg-mask"></div><div class="dialog hide pos-middle sold-out-dialog">
	<div class="dlg-container">
		

		

		<div class="dlg-body"><div>亲，商品太火爆已经卖光了！</div><div>逛逛其他商品吧</div></div>

		
		<div class="dlg-footer">
			
			<div class=" btn btn-ok">我知道了</div>
			
			
		</div>
		
	</div>
</div>


<div class="smart-banner is-fixed fixed_bar" style="display: block; top: 0px;">
  <div class="fanfan">叫什么好呢？</div>
  <a class="login" href="<?php echo site_url('Login'); ?>">登录</a>
</div>  

<div id="etao-sidebar-scrolltop"></div>
</body>
</html>