<!DOCTYPE html>
<html style="font-size: 32px;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<title></title>  
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<meta name="format-detection" content="telephone=no"> 
<meta name="apple-touch-fullscreen" content="yes"> 
<meta name="full-screen" content="yes"> 
<meta name="x5-fullscreen" content="yes"> 
<meta name="aplus-touch" content="1"> 
<meta name="data-spm" content="1002"> 

<script src="<?php echo base_url('static/index/theme/js/init.js'); ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo base_url('static/index/theme/css/app.css'); ?>"> 
<link rel="stylesheet" type="text/css" href="<?php echo base_url('static/index/theme/css/fixed_bar.css'); ?>">
</head>


<body data-spm="7777453" style="padding-top: 77px;">

<div id="super" data-spm="1"> 

<div class="sup-line-wrap"> 
    <div class="sup-line"></div> 
    <div class="sup-text">每日10点更新</div> 
</div> 


<?php foreach ($cate_list as $key => $cate) : ?>
<a href="<?php echo site_url('Index/goods_list/'.$cate['id']); ?>" class="sup-item">
    <div class="sup-head sup-tag-new">
        <div class="double11-tag  "></div>
        <div class="sup-tag-mask"></div>
        <div class="sup-tag"></div>
        <!-- <img data-network="" data-src="" alt="" class="sup-brand lazyload-img" data-lazyimg="" src="<?php echo base_url('static/index/theme/img/3.jpg'); ?>" data-bestsrc=""> -->
        
        <div class="sup-title ellipsis">
            <?php echo $cate['name']; ?>
            <!-- <span class="sup-red">仅剩6天23小时</span> -->
        </div>
        
        <!-- <div class="sup-desc">
            <span class="sup-goodtitle ellipsis">
                秋冬季男士羊毛围巾韩版格子围巾男长款加厚保暖围脖学生礼盒装
            </span>
            <span class="sup-sold ellipsis">已售1127件</span>
        </div> -->
    </div>
    <div class="sup-head-line"></div>
    <img data-network="" data-src="" alt="" class="sup-img lazyload-img" data-lazyimg="" src="<?php echo base_url($cate['img']); ?>" data-bestsrc="">
    <div class="sup-btm-block">
        <!-- <span class="sup-curprice"><span class="rmb-style">￥</span>59</span>
        <span class="sup-oriprice"><span class="rmb-style">￥</span>156</span>
        <span class="sup-seprater"></span>
        <span class="sup-fanli">购买再返26.55</span> -->
    </div>
</a>
<?php endforeach; ?>

</div> 


<div class="smart-banner is-fixed fixed_bar" style="display: block; top: 0px;">
  <div class="fanfan">Cshop</div>
  <a class="login" href="<?php echo site_url('Login'); ?>">登录</a>
</div> 

</body>
</html>