
.smart-banner.is-fixed {
  height: 2rem;
  background: #F30443;
}
.fixed_bar .login{
	color: #fff;
	float: right;
	line-height: 2rem;
	font-size: .72rem;
	text-align:center;
	width: 20%;
}
.fixed_bar .fanfan{
	color: #fff;
	width: 8rem;
	line-height: 2rem;
	font-size: .72rem;
	font-family: 微软雅黑;
	float: left;
	text-align: left;
  padding-left: .5rem;
}


#super {
  padding-top: 1rem;
}
